header {
    text-align: center;
    background-color: #ededed;
    border-bottom: 2px solid #cf8b05;
}
#logo {
    height: 150px;
}

h2 {
    color: #cf8b05;
}
h3 {
    font-style: italic;
}
p {
    color: gray;
}